//position
.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}

// width
.fill-width {
  width: 100% !important;
}

.width-60 {
  width: 60% !important;
}
.width-40 {
  width: 40% !important;
}

// height {
.fill-height {
  height: 100% !important;
}

.right-0 {
  right: 0px !important;
}

.bottom-0 {
  bottom: 0px !important;
}
