//position
.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}

// width
.fill-width {
  width: 100% !important;
}

.width-65 {
  width: 60% !important;
}
.width-35 {
  width: 35% !important;
}

// height {
.fill-height {
  height: 100% !important;
}
