//position
.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}

// width
.fill-width {
  width: 100% !important;
}

.width-60 {
  width: 60% !important;
}
.width-40 {
  width: 40% !important;
}

// height {
.fill-height {
  height: 100% !important;
}

.height-40 {
  height: 40% !important;
}

.right-0 {
  right: 0px !important;
}

.bottom-0 {
  bottom: 0px !important;
}

//font
.font-g18 {
  font-size: 18px !important;
}

.font-g18-24 {
  font-size: 18px !important;
  line-height: 24px !important;
}

.font-g24 {
  font-size: 24px !important;
}
